@tailwind base;
@tailwind components;
@tailwind utilities;

.user-select-none {
  user-select: none; /* Standard */
  -webkit-user-select: none; /* Safari/Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
}
